# Banco de Dados (PostgreSQL)
DB_URL=jdbc:postgresql://localhost:5432/nome_do_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

# Autenticação JWT
API_SECURITY_TOKEN_SECRET=digite_uma_chave_secreta_aqui